:root {
  --header-height: 3rem;
  --first-color: #069c54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #a6a6a6;
  --body-color: #fbfbfb;
  --container-color: #ffffff;
  --body-font: "poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-1: 3rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (minn-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========================BASE===========================*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.nav__link {
  -webkit-transition: .3s;
  transition: .3s;
  color: var(--text-color);
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #1d2521;
  --container-color: #27302c;
  --blog-dark:#c7d1cc;
}

.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: var(--body-color);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
  .nav__menu .nav__item {
    margin-bottom: var(--mb-2);
  }
  .nav__menu .nav__link, .nav__menu .nav__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
  }
  .nav__logo {
    color: var(--text-color);
    font-weight: var(--font-medium);
  }
  .nav__logo:hover {
    color: var(--first-color);
  }
  .nav__link {
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav__link:hover {
    color: var(--first-color);
  }
  .nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
  .show-menu {
    top: var(--header-height) !important;
  }
  .active-link {
    color: var(--first-color);
  }
  .scroll-header {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, 0.5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    -webkit-transition: .4s;
    transition: .4s;
    visibility: hidden;
  }
  .scrolltop:hover {
    background: var(--first-color-alt);
  }
  .scrolltop__icon {
    font-size: 1.8rem;
    color: var(--body-color);
  }
  .scroll-top {
    visibility: visible;
    bottom: 1.5rem;
  }
}

.home__container {
  height: calc(100vh - var(--header-height));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img {
  width: 300px;
  height: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 50%;
}

.button {
  display: inline-block;
  background: var(--first-color);
  color: #ffffff;
  padding: .75rem 1rem;
  border-radius: .5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  background: var(--first-color-alt);
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-3);
}

.about__container {
  display: -ms-grid;
  display: grid;
}

.about__img {
  width: 280px;
  border-radius: .5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.services_container {
  row-gap: 2.5rem;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
  text-align: center;
}

.services__img {
  width: 64px;
  height: 64px;
  margin-bottom: var(--mb-2);
}

.services__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description {
  padding: 0 1.5rem;
}

.works__container {
  row-gap: 2.5rem;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.blog__container {
  row-gap: 2.5rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.blog__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border: 1px solid var(--blog-dark);
  border-radius: .5rem;
}

.blog__content .blog__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-bottom: 1px solid var(--blog-dark);
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.blog__descriptions {
  margin: 10px;
  display: -ms-grid;
  display: grid;
}

.blog__descriptions span {
  font-size: var(--normal-font-size);
}

.blog__descriptions span a {
  color: var(--text-color);
}

.blog__descriptions .blog__title {
  color: var(--first-color);
  font-weight: bold;
  font-size: var(--h3-font-size);
}

.blog__descriptions .blog__title:hover {
  color: var(--first-color-alt);
}

.contact__container {
  text-align: center;
}

.contact__description {
  margin-bottom: var(--mb-3);
}

.footer__container {
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-2);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

@media screen and (min-width: 576px) {
  .home__container, .about__container, .services__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .about__data, .about__initial, .contact__container, .contact__initial {
    text-align: initial;
  }
  .about__img {
    width: 380px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact__container {
    -ms-grid-columns: 1.75fr 1.75fr;
        grid-template-columns: 1.75fr 1.75fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 8rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home__container {
    height: 100vh;
    justify-items: center;
  }
  .services__container {
    margin-top: var(--mb-5);
    -ms-grid-columns: (250px)[3];
        grid-template-columns: repeat(3, 250px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 500px;
    height: 500px;
  }
  .about__container {
    -webkit-column-gap: 7rem;
            column-gap: 7rem;
  }
  .works__container {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .works__img {
    width: 100%;
    height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */